<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste Melissa - Aduaneiras</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="container">
    <!-- Botão de exportação -->
    <button class="btn btn-primary float-right">Exportar Planilha</button>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#dados-gerais">Dados Gerais - Declaração de Importação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#dados-especificos">Dados Específicos - Adições</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#despesas">Despesas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#resultados">Resultados</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div id="dados-gerais" class="tab-pane fade show active">
        <h6>Conteúdo em Construção</h6>
      </div>
      <div id="dados-especificos" class="tab-pane fade">
            <!-- Planilha -->
        <div class="table-responsive mt-3">
          <table id="planilha" class="table table-bordered">
            <thead>
              <tr>
                <th>Adição</th>
                <th>Código NCM</th>
                <th>País de Origem</th>
                <th>País de Aquisição</th>
                <th>VMCV (Total)</th>
                <th>Quantidade (Comercializada)</th>
                <th>VMLE (Total)</th>
                <th>Peso Líquido (Quilograma)</th>
                <th>Editar</th>
                <th>Excluir</th>
              </tr>
            </thead>
            <tbody>
              <!-- Linhas da Planilha -->
              <tr>
                <td>001</td>
                <td>8000</td>
                <td>Alemanha</td>
                <td>Alemanha</td>
                <td>Eur 8000</td>
                <td>20.000</td>
                <td>EUR 8000</td>
                <td>40.000</td>
                <td><button class="btn btn-info" onclick="editarLinha(this)">Editar</button></td>
                <td><button class="btn btn-danger" onclick="excluirLinha(this)">Excluir</button></td>
              </tr>

              <tr>
                <td>002</td>
                <td>8080</td>
                <td>Brasil</td>
                <td>Brasil</td>
                <td>BRL 10000</td>
                <td>70.000</td>
                <td>BRL 10000</td>
                <td>50.000</td>
                <td><button (click)="editarLinha($event)" class="btn btn-info" >Editar</button></td>
                <td><button (click)="excluirLinha($event)" class="btn btn-danger">Excluir</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="despesas" class="tab-pane fade">
        <h6>Conteúdo em Construção</h6>
      </div>
      <div id="resultados" class="tab-pane fade">
        <h6>Conteúdo em Construção</h6>
      </div>
    </div>

    <!-- Botão de incluir adição -->
    <button class="btn btn-success float-right mt-3" data-toggle="modal" data-target="#modalIncluirAdicao">+ Incluir Adição</button>

    <!-- Modal de inclusão de adição -->
    <div class="modal fade" id="modalIncluirAdicao" tabindex="-1" role="dialog" aria-labelledby="modalIncluirAdicaoTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalIncluirAdicaoTitle">Incluir Adição</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body col-md-12 col-sm-12 col-lg-12">
            <div class="col-md-12 form1">
              <div class="containerAd col-md-6 form1">
                  <div class="label col-md-3">Adição</div>
                  <div class="value col-md-3">001</div>
              </div>   
              <div class="search-container col-md-6">
                <input type="text" placeholder="Código NCM">
                <button type="submit">Pesquisar</button>
              </div>
            </div>
            <div class="col-md-12 text1">              
              <strong class="tituloNCM">Descrição na NCM</strong>
              <p class="textoNCM">Projetores capazes de serem conectados diretamente a uma måquina automática para processamento de dados da posição 84.71 e concebidos  para serem utilizados com esta máquina</p>
            </div>
            <!-- Formulário de inclusão de adição -->
            <form id="formIncluirAdicao">
              <div class="col-md-12 form1">
                <div class="form-group col-md-3">
                  <label for="paisOrigem">País de Origem:</label>
                    <select class="form-control" id="paisOrigem">
                    <option value="Afeganistão">AF - Afeganistão</option>
                    <option value="África do Sul">ZA - África do Sul</option>
                    <option value="Albânia">AL - Albânia</option>
                    <option value="Alemanha">DE - Alemanha</option>
                    <option value="Andorra">AD - Andorra</option>
                    <option value="Angola">AO - Angola</option>
                    <option value="Anguilla">AI - Anguilla</option>
                    <option value="Antártica">AQ - Antártica</option>
                    <option value="Antígua e Barbuda">AG - Antígua e Barbuda</option>
                    <option value="Arábia Saudita">SA - Arábia Saudita</option>
                    <option value="Argélia">DZ - Argélia</option>
                    <option value="Argentina">AR - Argentina</option>
                    <option value="Armênia">AM - Armênia</option>
                    <option value="Aruba">AW - Aruba</option>
                    <option value="Austrália">AU - Austrália</option>
                    <option value="Áustria">AT - Áustria</option>
                    <option value="Azerbaijão">AZ - Azerbaijão</option>
                    <option value="Bahamas">BS - Bahamas</option>
                    <option value="Bangladesh">BD - Bangladesh</option>
                    <option value="Barbados">BB - Barbados</option>
                    <option value="Barém">BH - Barém</option>
                    <option value="Belarus">BY - Belarus</option>
                    <option value="Bélgica">BE - Bélgica</option>
                    <option value="Belize">BZ - Belize</option>
                    <option value="Benin">BJ - Benin</option>
                    <option value="Bermuda">BM - Bermuda</option>
                    <option value="Birmânia">MM - Birmânia</option>
                    <option value="Bolívia">BO - Bolívia</option>
                    <option value="Bósnia e Herzegovina">BA - Bósnia e Herzegovina</option>
                    <option value="Botswana">BW - Botswana</option>
                    <option value="Brasil">BR - Brasil</option>
                    <option value="Brunei">BN - Brunei</option>
                    <option value="Bulgária">BG - Bulgária</option>
                    <option value="Burkina Faso">BF - Burkina Faso</option>
                    <option value="Burundi">BI - Burundi</option>
                    <option value="Butão">BT - Butão</option>
                    <option value="Cabo Verde">CV - Cabo Verde</option>
                    <option value="Camarões">CM - Camarões</option>
                    <option value="Camboja">KH - Camboja</option>
                    <option value="Canadá">CA - Canadá</option>
                    <option value="Cazaquistão">KZ - Cazaquistão</option>
                    <option value="Chad">TD - Chad</option>
                    <option value="Chile">CL - Chile</option>
                    <option value="China">CN - China</option>
                    <option value="Chipre">CY - Chipre</option>
                    <option value="Cingapura">SG - Cingapura</option>
                    <option value="Cisjordânia">PS - Cisjordânia</option>
                    <option value="Colômbia">CO - Colômbia</option>
                    <option value="Cômoros">KM - Cômoros</option>
                    <option value="Coreia do Norte">KP - Coreia do Norte</option>
                    <option value="Coreia do Sul">KR - Coreia do Sul</option>
                    <option value="Costa do Marfim">CI - Costa do Marfim</option>
                    <option value="Costa Rica">CR - Costa Rica</option>
                    <option value="Croácia">HR - Croácia</option>
                    <option value="Cuba">CU - Cuba</option>
                    <option value="Curaçao">CW - Curaçao</option>
                    <option value="Dinamarca">DK - Dinamarca</option>
                    <option value="Djibuti">DJ - Djibuti</option>
                    <option value="Dominica">DM - Dominica</option>
                    <option value="Egito">EG - Egito</option>
                    <option value="El Salvador">SV - El Salvador</option>
                    <option value="Emirados Árabes Unidos">AE - Emirados Árabes Unidos</option>
                    <option value="Equador">EC - Equador</option>
                    <option value="Eritréia">ER - Eritréia</option>
                    <option value="Eslováquia">SK - Eslováquia</option>
                    <option value="Eslovênia">SI - Eslovênia</option>
                    <option value="Espanha">ES - Espanha</option>
                    <option value="Estados Unidos">US - Estados Unidos</option>
                    <option value="Estônia">EE - Estônia</option>
                    <option value="Etiópia">ET - Etiópia</option>
                    <option value="Faixa de Gaza">PS - Faixa de Gaza</option>
                    <option value="Fiji">FJ - Fiji</option>
                    <option value="Filipinas">PH - Filipinas</option>
                    <option value="Finlândia">FI - Finlândia</option>
                    <option value="França Metropolitana">FX - França Metropolitana</option>
                    <option value="França">FR - França</option>
                    <option value="Gabão">GA - Gabão</option>
                    <option value="Gâmbia">GM - Gâmbia</option>
                    <option value="Gana">GH - Gana</option>
                    <option value="Geórgia do Sul e Ilhas">GS - Geórgia do Sul e Ilhas</option>
                    <option value="Geórgia">GE - Geórgia</option>
                    <option value="Gibraltar">GI - Gibraltar</option>
                    <option value="Grécia">GR - Grécia</option>
                    <option value="Greenland">GL - Greenland</option>
                    <option value="Grenada">GD - Grenada</option>
                    <option value="Guadelupe">GP - Guadelupe</option>
                    <option value="Guam">GU - Guam</option>
                    <option value="Guatemala">GT - Guatemala</option>
                    <option value="Guernsey">GG - Guernsey</option>
                    <option value="Guiana Francesa">GF - Guiana Francesa</option>
                    <option value="Guiana">GY - Guiana</option>
                    <option value="Guiné Equatorial">GQ - Guiné Equatorial</option>
                    <option value="Guiné">GN - Guiné</option>
                    <option value="Guiné-Bissau">GW - Guiné-Bissau</option>
                    <option value="Haiti">HT - Haiti</option>
                    <option value="Holanda">NL - Holanda</option>
                    <option value="Honduras">HN - Honduras</option>
                    <option value="Hong Kong">HK - Hong Kong</option>
                    <option value="Hungria">HU - Hungria</option>
                    <option value="Iêmen">YE - Iêmen</option>
                    <option value="Ilha Bouvet">BV - Ilha Bouvet</option>
                    <option value="Ilha Christmas">CX - Ilha Christmas</option>
                    <option value="Ilha de Man">IM - Ilha de Man</option>
                    <option value="Ilha Norfolk">NF - Ilha Norfolk</option>
                    <option value="Ilhas Caiman">KY - Ilhas Caiman</option>
                    <option value="Ilhas Cocos (Keeling)">CC - Ilhas Cocos (Keeling)</option>
                    <option value="Ilhas Cook">CK - Ilhas Cook</option>
                    <option value="Ilhas Falkland (Malvinas)">FK - Ilhas Falkland (Malvinas)</option>
                    <option value="Ilhas Feroe">FO - Ilhas Feroe</option>
                    <option value="Ilhas Heard and McDonald">HM - Ilhas Heard and McDonald</option>
                    <option value="Ilhas Marianas do Norte">MP - Ilhas Marianas do Norte</option>
                    <option value="Ilhas Marshall">MH - Ilhas Marshall</option>
                    <option value="Ilhas Maurício">mu – Ilhas Maurício</option>
                    <option value="Ilhas Menores Distantes dos Estados Unidos">UM - Ilhas Menores Distantes dos Estados Unidos</option>
                    <option value="Ilhas Pitcairn">PN - Ilhas Pitcairn</option>
                    <option value="Ilhas Salomão">SB - Ilhas Salomão</option>
                    <option value="Ilhas Turks e Caicos">TC - Ilhas Turks e Caicos</option>
                    <option value="Ilhas Virgens Americanas">VI - Ilhas Virgens Americanas</option>
                    <option value="Ilhas Virgens Britânicas">VG - Ilhas Virgens Britânicas</option>
                    <option value="Ilhas Wallis e Futuna">WF - Ilhas Wallis e Futuna</option>
                    <option value="Índia">IN - Índia</option>
                    <option value="Indonésia">ID - Indonésia</option>
                    <option value="Irã">IR - Irã</option>
                    <option value="Iraque">IQ - Iraque</option>
                    <option value="Irlanda">IE - Irlanda</option>
                    <option value="Islândia">IS - Islândia</option>
                    <option value="Israel">IL - Israel</option>
                    <option value="Itália">IT - Itália</option>
                    <option value="Jamaica">JM - Jamaica</option>
                    <option value="Japão">JP - Japão</option>
                    <option value="Jersey">JE - Jersey</option>
                    <option value="Jordânia">JO - Jordânia</option>
                    <option value="Kiribati">KI - Kiribati</option>
                    <option value="Kosovo">XK - Kosovo</option>
                    <option value="Kuwait">KW - Kuwait</option>
                    <option value="Laos">LA - Laos</option>
                    <option value="Lesoto">LS - Lesoto</option>
                    <option value="Letônia">LV - Letônia</option>
                    <option value="Líbano">LB - Líbano</option>
                    <option value="Libéria">LR - Libéria</option>
                    <option value="Líbia">LY - Líbia</option>
                    <option value="Liechtenstein">LI - Liechtenstein</option>
                    <option value="Lituânia">LT - Lituânia</option>
                    <option value="Luxemburgo">LU - Luxemburgo</option>
                    <option value="Macao">MO - Macao</option>
                    <option value="Macedônia">MK - Macedônia</option>
                    <option value="Madagascar">MG - Madagascar</option>
                    <option value="Maiote">YT - Maiote</option>
                    <option value="Malásia">MY - Malásia</option>
                    <option value="Malawi">MW - Malawi</option>
                    <option value="Maldivas">MV - Maldivas</option>
                    <option value="Mali">ML - Mali</option>
                    <option value="Malta">MT - Malta</option>
                    <option value="Marrocos">MA - Marrocos</option>
                    <option value="Martinica">MQ - Martinica</option>
                    <option value="Mauritânia">MR - Mauritânia</option>
                    <option value="México">MX - México</option>
                    <option value="Micronésia, Estados Federados da">FM - Micronésia, Estados Federados da</option>
                    <option value="Moçambique">MZ - Moçambique</option>
                    <option value="Moldova">MD - Moldova</option>
                    <option value="Mônaco">MC - Mônaco</option>
                    <option value="Mongólia">MN - Mongólia</option>
                    <option value="Montenegro">ME - Montenegro</option>
                    <option value="Montserrat">MS - Montserrat</option>
                    <option value="Namíbia">NA - Namíbia</option>
                    <option value="Nauru">NR - Nauru</option>
                    <option value="Nepal">NP - Nepal</option>
                    <option value="Nicarágua">NI - Nicarágua</option>
                    <option value="Níger">NE - Níger</option>
                    <option value="Nigéria">NG - Nigéria</option>
                    <option value="Niue">NU - Niue</option>
                    <option value="Noruega">NO - Noruega</option>
                    <option value="Nova Caledônia">NC - Nova Caledônia</option>
                    <option value="Nova Zelândia">NZ - Nova Zelândia</option>
                    <option value="Omã">OM - Omã</option>
                    <option value="Outros">Outros ...</option>
                    <option value="Palau">PW - Palau</option>
                    <option value="Panamá">PA - Panamá</option>
                    <option value="Papua Nova Guiné">PG - Papua Nova Guiné</option>
                    <option value="Paquistão">PK - Paquistão</option>
                    <option value="Paraguai">PY - Paraguai</option>
                    <option value="Peru">PE - Peru</option>
                    <option value="Polinésia Francesa">PF - Polinésia Francesa</option>
                    <option value="Polônia">PL - Polônia</option>
                    <option value="Porto Rico">PR - Porto Rico</option>
                    <option value="Portugal">PT - Portugal</option>
                    <option value="Qatar">QA - Qatar</option>
                    <option value="Quênia">KE - Quênia</option>
                    <option value="Quirguistão">KG - Quirguistão</option>
                    <option value="Reino Unido">GB - Reino Unido</option>
                    <option value="República Centro-Africana">CF - República Centro-Africana</option>
                    <option value="República Democrática do Congo">CD - República Democrática do Congo</option>
                    <option value="República do Congo">CG - República do Congo</option>
                    <option value="República Dominicana">DO - República Dominicana</option>
                    <option value="República Tcheca">CZ - República Tcheca</option>
                    <option value="Reunião">RE - Reunião</option>
                    <option value="Romênia">RO - Romênia</option>
                    <option value="Ruanda">RW - Ruanda</option>
                    <option value="Rússia">RU - Rússia</option>
                    <option value="Saara Ocidental">EH - Saara Ocidental</option>
                    <option value="Saint Martin">MF - Saint Martin</option>
                    <option value="Saint Pierre e Miquelon">PM - Saint Pierre e Miquelon</option>
                    <option value="Samoa Americana">AS - Samoa Americana</option>
                    <option value="Samoa">WS - Samoa</option>
                    <option value="San Marino">SM - San Marino</option>
                    <option value="Santa Helena, Ascensão e Tristão da Cunha">SH - Santa Helena, Ascensão e Tristão da Cunha</option>
                    <option value="Santa Lúcia">LC - Santa Lúcia</option>
                    <option value="Santa Sé (Cidade do Vaticano)">VA - Santa Sé (Cidade do Vaticano)</option>
                    <option value="São Bartolomeu">BL - São Bartolomeu</option>
                    <option value="São Cristóvão e Nevis">KN - São Cristóvão e Nevis</option>
                    <option value="São Martinho">SX - São Martinho</option>
                    <option value="São Tomé e Prín">ST - São Tomé e Príncipe</option>
                    <option value="São Vicente e Granadinas">VC - São Vicente e Granadinas</option>
                    <option value="Seicheles">SC - Seicheles</option>
                    <option value="Senegal">SN - Senegal</option>
                    <option value="Serra Leoa">SL - Serra Leoa</option>
                    <option value="Sérvia">RS - Sérvia</option>
                    <option value="Síria">SY - Síria</option>
                    <option value="Somália">SO - Somália</option>
                    <option value="Sri Lanka">LK - Sri Lanka</option>
                    <option value="Suazilândia">SZ - Suazilândia</option>
                    <option value="Sudão do Sul">SS - Sudão do Sul</option>
                    <option value="Sudão">SD - Sudão</option>
                    <option value="Suécia">SE - Suécia</option>
                    <option value="Suíça">CH - Suíça</option>
                    <option value="Sul da França e Antártica">TF - Sul da França e Antártica</option>
                    <option value="Suriname">SR - Suriname</option>
                    <option value="Svalbard">SJ - Svalbard</option>
                    <option value="Tadjiquistão">TJ - Tadjiquistão</option>
                    <option value="Tailândia">TH - Tailândia</option>
                    <option value="Taiwan">TW - Taiwan</option>
                    <option value="Tanzânia">TZ - Tanzânia</option>
                    <option value="Território Britânico do Oceano Índico">IO - Território Britânico do Oceano Índico</option>
                    <option value="Timor-Leste">TL - Timor-Leste</option>
                    <option value="Togo">TG - Togo</option>
                    <option value="Tonga">TO - Tonga</option>
                    <option value="Toquelau">TK - Toquelau</option>
                    <option value="Trinidad e Tobago">TT - Trinidad e Tobago</option>
                    <option value="Tunísia">TN - Tunísia</option>
                    <option value="Turcomenistão">TM - Turcomenistão</option>
                    <option value="Turquia">TR - Turquia</option>
                    <option value="Tuvalu">TV - Tuvalu</option>
                    <option value="Ucrânia">UA - Ucrânia</option>
                    <option value="Uganda">UG - Uganda</option>
                    <option value="Uruguai">UY - Uruguai</option>
                    <option value="Uzbequistão">UZ - Uzbequistão</option>
                    <option value="Vanuatu">VU - Vanuatu</option>
                    <option value="Venezuela">VE - Venezuela</option>
                    <option value="Vietnã">VN - Vietnã</option>
                    <option value="Zâmbia">ZM - Zâmbia</option>
                    <option value="Zimbábue">ZW - Zimbábue</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="unidadeMedida">Unidade de Medida:</label>
                  <input type="text" class="form-control" id="unidadeMedida">
                </div>
                <div class="form-group col-md-3">
                  <label for="quantidadeMedida">Quantidade:</label>
                  <input type="text" class="form-control" id="quantidadeMedida">
                </div>
              </div>
              <div class="col-md-12 form1">
                <div class="form-group col-md-3">
                  <label for="paisAquisicao">País de Aquisição:</label>
                  <select class="form-control" id="paisAquisicao">
                    <option value="Afeganistão">AF - Afeganistão</option>
                    <option value="África do Sul">ZA - África do Sul</option>
                    <option value="Albânia">AL - Albânia</option>
                    <option value="Alemanha">DE - Alemanha</option>
                    <option value="Andorra">AD - Andorra</option>
                    <option value="Angola">AO - Angola</option>
                    <option value="Anguilla">AI - Anguilla</option>
                    <option value="Antártica">AQ - Antártica</option>
                    <option value="Antígua e Barbuda">AG - Antígua e Barbuda</option>
                    <option value="Arábia Saudita">SA - Arábia Saudita</option>
                    <option value="Argélia">DZ - Argélia</option>
                    <option value="Argentina">AR - Argentina</option>
                    <option value="Armênia">AM - Armênia</option>
                    <option value="Aruba">AW - Aruba</option>
                    <option value="Austrália">AU - Austrália</option>
                    <option value="Áustria">AT - Áustria</option>
                    <option value="Azerbaijão">AZ - Azerbaijão</option>
                    <option value="Bahamas">BS - Bahamas</option>
                    <option value="Bangladesh">BD - Bangladesh</option>
                    <option value="Barbados">BB - Barbados</option>
                    <option value="Barém">BH - Barém</option>
                    <option value="Belarus">BY - Belarus</option>
                    <option value="Bélgica">BE - Bélgica</option>
                    <option value="Belize">BZ - Belize</option>
                    <option value="Benin">BJ - Benin</option>
                    <option value="Bermuda">BM - Bermuda</option>
                    <option value="Birmânia">MM - Birmânia</option>
                    <option value="Bolívia">BO - Bolívia</option>
                    <option value="Bósnia e Herzegovina">BA - Bósnia e Herzegovina</option>
                    <option value="Botswana">BW - Botswana</option>
                    <option value="Brasil">BR - Brasil</option>
                    <option value="Brunei">BN - Brunei</option>
                    <option value="Bulgária">BG - Bulgária</option>
                    <option value="Burkina Faso">BF - Burkina Faso</option>
                    <option value="Burundi">BI - Burundi</option>
                    <option value="Butão">BT - Butão</option>
                    <option value="Cabo Verde">CV - Cabo Verde</option>
                    <option value="Camarões">CM - Camarões</option>
                    <option value="Camboja">KH - Camboja</option>
                    <option value="Canadá">CA - Canadá</option>
                    <option value="Cazaquistão">KZ - Cazaquistão</option>
                    <option value="Chad">TD - Chad</option>
                    <option value="Chile">CL - Chile</option>
                    <option value="China">CN - China</option>
                    <option value="Chipre">CY - Chipre</option>
                    <option value="Cingapura">SG - Cingapura</option>
                    <option value="Cisjordânia">PS - Cisjordânia</option>
                    <option value="Colômbia">CO - Colômbia</option>
                    <option value="Cômoros">KM - Cômoros</option>
                    <option value="Coreia do Norte">KP - Coreia do Norte</option>
                    <option value="Coreia do Sul">KR - Coreia do Sul</option>
                    <option value="Costa do Marfim">CI - Costa do Marfim</option>
                    <option value="Costa Rica">CR - Costa Rica</option>
                    <option value="Croácia">HR - Croácia</option>
                    <option value="Cuba">CU - Cuba</option>
                    <option value="Curaçao">CW - Curaçao</option>
                    <option value="Dinamarca">DK - Dinamarca</option>
                    <option value="Djibuti">DJ - Djibuti</option>
                    <option value="Dominica">DM - Dominica</option>
                    <option value="Egito">EG - Egito</option>
                    <option value="El Salvador">SV - El Salvador</option>
                    <option value="Emirados Árabes Unidos">AE - Emirados Árabes Unidos</option>
                    <option value="Equador">EC - Equador</option>
                    <option value="Eritréia">ER - Eritréia</option>
                    <option value="Eslováquia">SK - Eslováquia</option>
                    <option value="Eslovênia">SI - Eslovênia</option>
                    <option value="Espanha">ES - Espanha</option>
                    <option value="Estados Unidos">US - Estados Unidos</option>
                    <option value="Estônia">EE - Estônia</option>
                    <option value="Etiópia">ET - Etiópia</option>
                    <option value="Faixa de Gaza">PS - Faixa de Gaza</option>
                    <option value="Fiji">FJ - Fiji</option>
                    <option value="Filipinas">PH - Filipinas</option>
                    <option value="Finlândia">FI - Finlândia</option>
                    <option value="França Metropolitana">FX - França Metropolitana</option>
                    <option value="França">FR - França</option>
                    <option value="Gabão">GA - Gabão</option>
                    <option value="Gâmbia">GM - Gâmbia</option>
                    <option value="Gana">GH - Gana</option>
                    <option value="Geórgia do Sul e Ilhas">GS - Geórgia do Sul e Ilhas</option>
                    <option value="Geórgia">GE - Geórgia</option>
                    <option value="Gibraltar">GI - Gibraltar</option>
                    <option value="Grécia">GR - Grécia</option>
                    <option value="Greenland">GL - Greenland</option>
                    <option value="Grenada">GD - Grenada</option>
                    <option value="Guadelupe">GP - Guadelupe</option>
                    <option value="Guam">GU - Guam</option>
                    <option value="Guatemala">GT - Guatemala</option>
                    <option value="Guernsey">GG - Guernsey</option>
                    <option value="Guiana Francesa">GF - Guiana Francesa</option>
                    <option value="Guiana">GY - Guiana</option>
                    <option value="Guiné Equatorial">GQ - Guiné Equatorial</option>
                    <option value="Guiné">GN - Guiné</option>
                    <option value="Guiné-Bissau">GW - Guiné-Bissau</option>
                    <option value="Haiti">HT - Haiti</option>
                    <option value="Holanda">NL - Holanda</option>
                    <option value="Honduras">HN - Honduras</option>
                    <option value="Hong Kong">HK - Hong Kong</option>
                    <option value="Hungria">HU - Hungria</option>
                    <option value="Iêmen">YE - Iêmen</option>
                    <option value="Ilha Bouvet">BV - Ilha Bouvet</option>
                    <option value="Ilha Christmas">CX - Ilha Christmas</option>
                    <option value="Ilha de Man">IM - Ilha de Man</option>
                    <option value="Ilha Norfolk">NF - Ilha Norfolk</option>
                    <option value="Ilhas Caiman">KY - Ilhas Caiman</option>
                    <option value="Ilhas Cocos (Keeling)">CC - Ilhas Cocos (Keeling)</option>
                    <option value="Ilhas Cook">CK - Ilhas Cook</option>
                    <option value="Ilhas Falkland (Malvinas)">FK - Ilhas Falkland (Malvinas)</option>
                    <option value="Ilhas Feroe">FO - Ilhas Feroe</option>
                    <option value="Ilhas Heard and McDonald">HM - Ilhas Heard and McDonald</option>
                    <option value="Ilhas Marianas do Norte">MP - Ilhas Marianas do Norte</option>
                    <option value="Ilhas Marshall">MH - Ilhas Marshall</option>
                    <option value="Ilhas Maurício">mu – Ilhas Maurício</option>
                    <option value="Ilhas Menores Distantes dos Estados Unidos">UM - Ilhas Menores Distantes dos Estados Unidos</option>
                    <option value="Ilhas Pitcairn">PN - Ilhas Pitcairn</option>
                    <option value="Ilhas Salomão">SB - Ilhas Salomão</option>
                    <option value="Ilhas Turks e Caicos">TC - Ilhas Turks e Caicos</option>
                    <option value="Ilhas Virgens Americanas">VI - Ilhas Virgens Americanas</option>
                    <option value="Ilhas Virgens Britânicas">VG - Ilhas Virgens Britânicas</option>
                    <option value="Ilhas Wallis e Futuna">WF - Ilhas Wallis e Futuna</option>
                    <option value="Índia">IN - Índia</option>
                    <option value="Indonésia">ID - Indonésia</option>
                    <option value="Irã">IR - Irã</option>
                    <option value="Iraque">IQ - Iraque</option>
                    <option value="Irlanda">IE - Irlanda</option>
                    <option value="Islândia">IS - Islândia</option>
                    <option value="Israel">IL - Israel</option>
                    <option value="Itália">IT - Itália</option>
                    <option value="Jamaica">JM - Jamaica</option>
                    <option value="Japão">JP - Japão</option>
                    <option value="Jersey">JE - Jersey</option>
                    <option value="Jordânia">JO - Jordânia</option>
                    <option value="Kiribati">KI - Kiribati</option>
                    <option value="Kosovo">XK - Kosovo</option>
                    <option value="Kuwait">KW - Kuwait</option>
                    <option value="Laos">LA - Laos</option>
                    <option value="Lesoto">LS - Lesoto</option>
                    <option value="Letônia">LV - Letônia</option>
                    <option value="Líbano">LB - Líbano</option>
                    <option value="Libéria">LR - Libéria</option>
                    <option value="Líbia">LY - Líbia</option>
                    <option value="Liechtenstein">LI - Liechtenstein</option>
                    <option value="Lituânia">LT - Lituânia</option>
                    <option value="Luxemburgo">LU - Luxemburgo</option>
                    <option value="Macao">MO - Macao</option>
                    <option value="Macedônia">MK - Macedônia</option>
                    <option value="Madagascar">MG - Madagascar</option>
                    <option value="Maiote">YT - Maiote</option>
                    <option value="Malásia">MY - Malásia</option>
                    <option value="Malawi">MW - Malawi</option>
                    <option value="Maldivas">MV - Maldivas</option>
                    <option value="Mali">ML - Mali</option>
                    <option value="Malta">MT - Malta</option>
                    <option value="Marrocos">MA - Marrocos</option>
                    <option value="Martinica">MQ - Martinica</option>
                    <option value="Mauritânia">MR - Mauritânia</option>
                    <option value="México">MX - México</option>
                    <option value="Micronésia, Estados Federados da">FM - Micronésia, Estados Federados da</option>
                    <option value="Moçambique">MZ - Moçambique</option>
                    <option value="Moldova">MD - Moldova</option>
                    <option value="Mônaco">MC - Mônaco</option>
                    <option value="Mongólia">MN - Mongólia</option>
                    <option value="Montenegro">ME - Montenegro</option>
                    <option value="Montserrat">MS - Montserrat</option>
                    <option value="Namíbia">NA - Namíbia</option>
                    <option value="Nauru">NR - Nauru</option>
                    <option value="Nepal">NP - Nepal</option>
                    <option value="Nicarágua">NI - Nicarágua</option>
                    <option value="Níger">NE - Níger</option>
                    <option value="Nigéria">NG - Nigéria</option>
                    <option value="Niue">NU - Niue</option>
                    <option value="Noruega">NO - Noruega</option>
                    <option value="Nova Caledônia">NC - Nova Caledônia</option>
                    <option value="Nova Zelândia">NZ - Nova Zelândia</option>
                    <option value="Omã">OM - Omã</option>
                    <option value="Outros">Outros ...</option>
                    <option value="Palau">PW - Palau</option>
                    <option value="Panamá">PA - Panamá</option>
                    <option value="Papua Nova Guiné">PG - Papua Nova Guiné</option>
                    <option value="Paquistão">PK - Paquistão</option>
                    <option value="Paraguai">PY - Paraguai</option>
                    <option value="Peru">PE - Peru</option>
                    <option value="Polinésia Francesa">PF - Polinésia Francesa</option>
                    <option value="Polônia">PL - Polônia</option>
                    <option value="Porto Rico">PR - Porto Rico</option>
                    <option value="Portugal">PT - Portugal</option>
                    <option value="Qatar">QA - Qatar</option>
                    <option value="Quênia">KE - Quênia</option>
                    <option value="Quirguistão">KG - Quirguistão</option>
                    <option value="Reino Unido">GB - Reino Unido</option>
                    <option value="República Centro-Africana">CF - República Centro-Africana</option>
                    <option value="República Democrática do Congo">CD - República Democrática do Congo</option>
                    <option value="República do Congo">CG - República do Congo</option>
                    <option value="República Dominicana">DO - República Dominicana</option>
                    <option value="República Tcheca">CZ - República Tcheca</option>
                    <option value="Reunião">RE - Reunião</option>
                    <option value="Romênia">RO - Romênia</option>
                    <option value="Ruanda">RW - Ruanda</option>
                    <option value="Rússia">RU - Rússia</option>
                    <option value="Saara Ocidental">EH - Saara Ocidental</option>
                    <option value="Saint Martin">MF - Saint Martin</option>
                    <option value="Saint Pierre e Miquelon">PM - Saint Pierre e Miquelon</option>
                    <option value="Samoa Americana">AS - Samoa Americana</option>
                    <option value="Samoa">WS - Samoa</option>
                    <option value="San Marino">SM - San Marino</option>
                    <option value="Santa Helena, Ascensão e Tristão da Cunha">SH - Santa Helena, Ascensão e Tristão da Cunha</option>
                    <option value="Santa Lúcia">LC - Santa Lúcia</option>
                    <option value="Santa Sé (Cidade do Vaticano)">VA - Santa Sé (Cidade do Vaticano)</option>
                    <option value="São Bartolomeu">BL - São Bartolomeu</option>
                    <option value="São Cristóvão e Nevis">KN - São Cristóvão e Nevis</option>
                    <option value="São Martinho">SX - São Martinho</option>
                    <option value="São Tomé e Prín">ST - São Tomé e Príncipe</option>
                    <option value="São Vicente e Granadinas">VC - São Vicente e Granadinas</option>
                    <option value="Seicheles">SC - Seicheles</option>
                    <option value="Senegal">SN - Senegal</option>
                    <option value="Serra Leoa">SL - Serra Leoa</option>
                    <option value="Sérvia">RS - Sérvia</option>
                    <option value="Síria">SY - Síria</option>
                    <option value="Somália">SO - Somália</option>
                    <option value="Sri Lanka">LK - Sri Lanka</option>
                    <option value="Suazilândia">SZ - Suazilândia</option>
                    <option value="Sudão do Sul">SS - Sudão do Sul</option>
                    <option value="Sudão">SD - Sudão</option>
                    <option value="Suécia">SE - Suécia</option>
                    <option value="Suíça">CH - Suíça</option>
                    <option value="Sul da França e Antártica">TF - Sul da França e Antártica</option>
                    <option value="Suriname">SR - Suriname</option>
                    <option value="Svalbard">SJ - Svalbard</option>
                    <option value="Tadjiquistão">TJ - Tadjiquistão</option>
                    <option value="Tailândia">TH - Tailândia</option>
                    <option value="Taiwan">TW - Taiwan</option>
                    <option value="Tanzânia">TZ - Tanzânia</option>
                    <option value="Território Britânico do Oceano Índico">IO - Território Britânico do Oceano Índico</option>
                    <option value="Timor-Leste">TL - Timor-Leste</option>
                    <option value="Togo">TG - Togo</option>
                    <option value="Tonga">TO - Tonga</option>
                    <option value="Toquelau">TK - Toquelau</option>
                    <option value="Trinidad e Tobago">TT - Trinidad e Tobago</option>
                    <option value="Tunísia">TN - Tunísia</option>
                    <option value="Turcomenistão">TM - Turcomenistão</option>
                    <option value="Turquia">TR - Turquia</option>
                    <option value="Tuvalu">TV - Tuvalu</option>
                    <option value="Ucrânia">UA - Ucrânia</option>
                    <option value="Uganda">UG - Uganda</option>
                    <option value="Uruguai">UY - Uruguai</option>
                    <option value="Uzbequistão">UZ - Uzbequistão</option>
                    <option value="Vanuatu">VU - Vanuatu</option>
                    <option value="Venezuela">VE - Venezuela</option>
                    <option value="Vietnã">VN - Vietnã</option>
                    <option value="Zâmbia">ZM - Zâmbia</option>
                    <option value="Zimbábue">ZW - Zimbábue</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="unidadeComercializada">Unidade Comercializada:</label>
                  <select class="form-control" id="unidadeComercializada">
                    <option value="Unidade">Unidade</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="quantidadeComercializada">Quantidade:</label>
                  <input type="text" class="form-control" id="quantidadeComercializada">
                </div>
              </div>
              <div class="col-md-12 form1">
                <div class="form-group col-md-12 form1">
                  <label for="inconterm" class="col-md-12">Inconterm: (2020) (Termo)</label>
                  <select class="form-control col-md-2" id="inconterm">
                    <option value="CIF">CIF</option>
                  </select>
                  <input type="text" class="form-control col-md-6" id="incontermText" label="Const, Insurance & Freight">
                </div>
              </div>
              <div class="col-md-12 form1">
              <div class="form-group col-md-12 form1">
                <label for="valorAduaneiro" class="col-md-12">Valor Aduaneiro: (Método)</label>
                <select class="form-control col-md-2" id="valorAduaneiro">
                  <option value="01">01</option>
                </select>
                <input type="text" class="form-control col-md-6" id="aduaneiroText" label="Valor da Transação">
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button (click)="gravarDados()" type="button" class="btn btn-primary">Gravar Dados</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <script>
    function editarLinha(button) {
      var row = button.parentNode.parentNode;
      var cells = row.getElementsByTagName("td");
  
      // Capturando os valores das células da linha
      var adicao = cells[0].innerHTML;
      var codigoNCM = cells[1].innerHTML;
      var paisOrigem = cells[2].innerHTML;
      var unidadeMedida = cells[3].innerHTML;
      var quantidadeMedida = cells[4].innerHTML;
      var paisAquisicao = cells[5].innerHTML;
      var unidadeComercializada = cells[6].innerHTML;
      var quantidadeComercializada = cells[7].innerHTML;
      var inconterm = cells[8].innerHTML;
      var valorAduaneiro = cells[9].innerHTML;
  
      // Preenchendo os campos do formulário no modal
      document.getElementById('adicao').value = adicao;
      document.getElementById('codigoNCM').value = codigoNCM;
      document.getElementById('paisOrigem').value = paisOrigem;
      document.getElementById('unidadeMedida').value = unidadeMedida;
      document.getElementById('quantidadeMedida').value = quantidadeMedida;
      document.getElementById('paisAquisicao').value = paisAquisicao;
      document.getElementById('unidadeComercializada').value = unidadeComercializada;
      document.getElementById('quantidadeComercializada').value = quantidadeComercializada;
      document.getElementById('inconterm').value = inconterm;
      document.getElementById('incontermText').value = incontermText;
      document.getElementById('valorAduaneiro').value = valorAduaneiro;
      document.getElementById('aduaneiroText').value = aduaneiroText;
  
      // Exibindo o modal
      $('#modalIncluirAdicao').modal('show');
    }
  
    function excluirLinha(button) {
      var row = button.parentNode.parentNode;
      row.parentNode.removeChild(row);
    }

  
    function gravarDados() {
      // Captura dos dados do formulário
      var adicao = document.getElementById('adicao').value;
      var codigoNCM = document.getElementById('codigoNCM').value;
      var paisOrigem = document.getElementById('paisOrigem').value;
      var unidadeMedida = document.getElementById('unidadeMedida').value;
      var quantidadeMedida = document.getElementById('quantidadeMedida').value;
      var paisAquisicao = document.getElementById('paisAquisicao').value;
      var unidadeComercializada = document.getElementById('unidadeComercializada').value;
      var quantidadeComercializada = document.getElementById('quantidadeComercializada').value;
      var inconterm = document.getElementById('inconterm').value;
      var incontermText = document.getElementById('incontermText').value;
      var valorAduaneiro = document.getElementById('valorAduaneiro').value;
      var aduaneiroText = document.getElementById('aduaneiroText').value;
  
      // Criação de uma nova linha na tabela
      var table = document.getElementById('planilha');
      var newRow = table.insertRow(-1);
  
      // Inserção dos dados na nova linha
      var cellAdicao = newRow.insertCell(0);
      var cellCodigoNCM = newRow.insertCell(1);
      var cellPaisOrigem = newRow.insertCell(2);
      var cellUnidadeMedida = newRow.insertCell(3);
      var cellQuantidadeMedida = newRow.insertCell(4);
      var cellPaisAquisicao = newRow.insertCell(5);
      var cellUnidadeComercializada = newRow.insertCell(6);
      var cellQuantidadeComercializada = newRow.insertCell(7);
      var cellInconterm = newRow.insertCell(8);
      var cellValorAduaneiro = newRow.insertCell(9);

  
      cellAdicao.innerHTML = adicao;
      cellCodigoNCM.innerHTML = codigoNCM;
      cellPaisOrigem.innerHTML = paisOrigem;
      cellUnidadeMedida.innerHTML = unidadeMedida;
      cellQuantidadeMedida.innerHTML = quantidadeMedida;
      cellPaisAquisicao.innerHTML = paisAquisicao;
      cellUnidadeComercializada.innerHTML = unidadeComercializada;
      cellQuantidadeComercializada.innerHTML = quantidadeComercializada
      cellInconterm.innerHTML = inconterm;
      cellValorAduaneiro.innerHTML = valorAduaneiro;
  
      // Fechar o modal após a gravação
      $('#modalIncluirAdicao').modal('hide');
    }
  </script>

</body>
</html>
